.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 15rem;
}

@media screen and (min-width: 1300px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
